################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KJSite/bin/KJSite.pdb
/KJSite/bin/KJSite.dll.config
/KJSite/bin/KJSite.dll
/.vs/KJSite/config
/.vs/KJSite
