################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KJSite/bin/KJSite.pdb
/KJSite/bin/KJSite.dll.config
/KJSite/bin/KJSite.dll
/.vs/KJSite/config
/.vs/KJSite
/KJSite/obj/Debug/KJSite.pdb
/KJSite/obj/Debug/KJSite.dll
KJSite/obj/Debug/KJSite.csproj.FileListAbsolute.txt
KJSite/obj/Debug/KJSite.csproj.CoreCompileInputs.cache
KJSite/obj/Debug/KJSite.csproj.AssemblyReference.cache
KJSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KJSite/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
KJSite/obj/Debug/KJSite.csproj.FileListAbsolute.txt
KJSite/obj/Debug/KJSite.csproj.CoreCompileInputs.cache
KJSite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
