<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <br />
    <br />
    <br />
    
    <hgroup>
        <h1>Home</h1>
        <h2>Home Page</h2>
    </hgroup>
</body>
</html>
