<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <hgroup>
        <h1>Home.</h1>
        <h2>Home Page</h2>
    </hgroup>
</body>
</html>
