<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Mys Portfolio Site which contains all my Experiences and Certificates">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Kai Jeng | Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/content/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="/content/css/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="/content/css/font-awesome-animation.css" rel="stylesheet" />
    <!-- SIDE MENU STYLE CSS -->
    <link href="/content/css/component.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/content/css/style.css" rel="stylesheet" />
    <link href="content/Site.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body class="cbp-spmenu-push">
    <!-- MAIN HEADING-->
    <div class="for-full-back color-bg-one" id="main-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 class="pad-adjust">
                        My Site
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <!--END MAIN HEADING-->
    <!--LEFT SLIDE MENU-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>BIWAS</h3>
        <a href="#">Call: +01-099-908-908</a>
        <a href="#main-sec"><i class="fa fa-home fa-3x"></i>HOME</a>
        <a href="#about-sec"><i class="fa fa-microphone fa-3x"></i>ABOUT</a>
        <a href="#price-sec"><i class="fa fa-dollar fa-3x"></i>PRICING</a>
        <a href="#services-sec"><i class="fa fa-rocket fa-3x"></i>SERVICES</a>
        <a href="#contact-sec"><i class="fa fa-globe fa-3x"></i>CONTACT</a>
    </nav>

    <div class="row" id="icon-left">
        <div class="col-md-12">
            <i id="showLeftPush" onclick="backToHome()" class="fa fa-home fa-4x faa-horizontal"></i>
        </div>
    </div>
    <!--END LEFT SLIDE MENU-->
    <!--RIGHT SLIDE MENU-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3>SOCIAL</h3>
        <a href="#">MY SOCIAL PRESENCE</a>
        <a href="#"><i class="fa fa-facebook fa-3x"></i>Facebook</a>
        <a href="#"><i class="fa fa-twitter fa-3x"></i>Twitter</a>
        <a href="#"><i class="fa fa-linkedin fa-3x"></i>Linked In</a>
        <a href="#"><i class="fa fa-google-plus fa-3x"></i>Google Plus</a>
    </nav>

    <div class="row" id="icon-right">
        <div class="col-md-12">
            <!--<i id="showRightPush" class="fa fa-paperclip fa-4x "></i>-->
        </div>
    </div>
    <!--END RIGHT SLIDE MENU-->
    <!--HOME SECTION-->
    <div class="container" id="home">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="head-sub-main">All my Certificates</h2>
                <h3 class="head-last"><a href="https://github.com/KyleWong613/KJSite/blob/main/README.md#certificate">Certificates List</a></h3>
            </div>
        </div>
    </div>
    <!--END HOME SECTION-->
    <!--API playing SECTION-->
    <section class="for-full-back color-bg-one" id="api-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h2 class="activity"><i class="fa faa-pulse animated"></i>Activity Today</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>Things to learn today</h3>
                        <h4 class="education-activity"></h4>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>Relax Activity today</h3>
                        <h4 class="relax-activity"></h4>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>Things you can do now</h3>
                        <h4 class="busywork-activity"></h4>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>Cooking Ideas</h3>
                        <h4 class="cooking-activity"></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END API playing SECTION-->


    <section class="for-full-back color-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="stats"><i class="fa faa-pulse animated"></i>Stats</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">Github</h3>
                    <iframe frameBorder="0" src="https://github-readme-stats.vercel.app/api?username=kylewong613&count_private=true&show_icons=true&hide=contribs,issues)](https://github.com/anuraghazra/github-readme-stats
                    " title="github-frame"></iframe>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Linkedin</h3>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Github</h3>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT SECTION-->
    <section class="for-full-back color-bg-one" id="contact-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h2 class="contact"><i class="fa faa-pulse animated"></i>Contact</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="for-full-back color-white " id="contact-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 contact-cls">
                    <h3>Get In Touch</h3>
                    <div>
                        <span><i class="fa fa-phone"></i>Phone:<a class="phone-no" href="tel:017-5597576"></a></span>
                        <br />
                        <span><i class="fa fa-envelope-o"></i><a class="gmail" href="mailto: kaijengre2@gmail.com"></a></span>
                        <br />
                        <span><i class="fa fa-github"></i><a class="github" href="https://github.com/KyleWong613/" target="_blank"></a></span>
                        <br />
                        <span><i class="fa fa-linkedin-square"></i><a class="linkedin" href="https://www.linkedin.com/in/wong-kai-jeng/" target="_blank"></a></span>
                        <br />

                        <!--<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
            <script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'L3L61IKG8'); kofiwidget2.draw();</script>-->
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>My Experiences</h3>
                    <p>
                        Check out my <a href="/Views/SubPages/experiences.html">Experiences</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>My Certifications</h3>
                    <p>
                        Check out my <a href="/Views/SubPages/certifications.html">Certifications</a>
                    </p>
                </div>
                <div class="col-md-3 contact-cls">
                    <h3>Github Repo</h3>
                    <span><i class="fa fa-github"></i><a class="kjsite-readme-repo"></a></span>
                    <br />
                    <span><i class="fa fa-github"></i><a class="kjsite-repo"></a></span>

                </div>
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION-->
    <!--FOOTER SECTION -->
    <div class="for-full-back color-bg-one" id="footer">
        <span class="currentyear"></span> kaijeng.netlify.app
    </div>
    <!-- END FOOTER SECTION -->
    <!-- CORE JQUERY  -->
    <script src="/content/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="/content/plugins/bootstrap.js"></script>
    <!-- SIDE MENU SCRIPTS -->
    <script src="/content/js/modernizr.custom.js"></script>
    <script src="/content/js/classie.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/Scripts/myjs.js"></script>
</body>
</html>
