body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.f14 {
    font-size: 14px;
}


/* index*/
.part-img {
    width: 290px;
    margin: 0 auto 50px auto;
}
.profile-img {
    width: 290px;
    margin: 0 auto 50px auto;
}
    .profile-img img {
        width: 70%;
        -webkit-animation: 5s bounce linear infinite;
        animation: 5s bounce linear infinite;
    }

.title-profiles button {
    border: none;
    background: none;
    -webkit-appearance: button;
    background-color: initial;
    background-image: none;
}
    .title-profiles button a svg {
        width: 3.5rem !important;
        height: 3.5rem !important;
    }

    .title-profiles button a svg:hover {
        transform: scale(1.2);
    }